<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<head>
    <!-- Code used and heavily modified from this tutorial: http://bit.ly/2m814Ww -->
    <title>Climate Conversations App</title>
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">

</head>
 
<body>

    <!-- Begin navigation bar -->
 
    <div class="container">
        <div class="header">
            <h3 class="text-muted">Climate Conversations App</h3>
        </div>
    <!-- End navigation bar -->
 
        <div class="jumbotron">
            <h1></h1>
            <p class="lead"></p>
            <p><a class="btn btn-lg btn-success" href="setup" role="button">Have a conversation</a>
            </p>
        </div>
        <footer class="footer">
            <p>&copy; Company 2015</p>
        </footer>
 
    </div>
</body>
 
</html>
