<!DOCTYPE html>
<html lang="en">

<meta name="viewport" content="width=device-width, initial-scale=1.0">
 
<head>
  <title>Climate Conversations</title>
 
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Sorts+Mill+Goudy">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main_blue.css') }}"/>  
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/play.css') }}"/>  
</head>
 
<body>
 
  <div class="prompt">
    <div class="event">
      <p class="event">{{ event }}</p>
    </div>
    <div class="question">
      <p class="question" name="question">
        {% autoescape false %} {{ question }} {% endautoescape %}
      </p>
    </div>
    <br/>
    <div class="next-button">
      <a class="next-button" 
         href="{{next_button_target}}" 
         role="button">
         <img class="next-button"
              src="{{ url_for('static', filename='images/r_arrow.png') }}"/>
        <br/>
        {{ next_button_text }}
         
      </a>
    </div>

</body>
 
</html>
