<!DOCTYPE html>
<html lang="en">
<link href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Sorts+Mill+Goudy" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <head>
    <title>Climate Conversations</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main_blue.css') }}"/> 
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/setup.css') }}"/> 
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Sorts+Mill+Goudy">
    
  </head>
 
  <body>
    {% from "_form_helpers.html" import render_field, render_header %}

    <h3>Get ready to travel through time...</h3>
    <form class="form-addplayers" method="post" action="/setup/save">
    <div class="setup-form">
      <div class="player-entry freeform-oneline invert_colors">
        {% for player_entry_form in form.player_records %}
            {{ render_header(loop.index0+1) }}
            {{ render_field(player_entry_form.pname, class="freeform-oneline") }}
            {{ render_field(player_entry_form.byear, class="freeform-oneline") }}
        {% endfor %}
      </div>

    { form_button(url_for('main.add_email'),

                    icon ('plus')) }}
    </div> <!-- End setup-form -->

    <div class="round-input">
      <h3 class="num-rounds">How many topics per person?</h3>
      <!-- <label for="inputNRounds" class="sr-only">Num Rounds</label> -->
      <select id="nRounds" name="num_rounds" class="num-rounds">
        <option value="1">1</option>
        <option value="2" selected="selected">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
      </select>
    </div>
    <br/>
    <div class="submit">
      <input type="image" href="setup/save" role="button" class="next-button"
             src="{{ url_for('static', filename='images/r_arrow.png') }}"/>
    </div>

    </form>
  </body>
</html>